<footer>
  <div class="container">
    <nav>
      <h2 class="sr-only">하단 메뉴</h2>
      <p class="fnb">
        <a href="#">도움말</a><span class="bar">|</span>
        <a href="#">이용약관</a><span class="bar">|</span>
        <a href="#">개인정보 처리방침</a><span class="bar">|</span>
        <a href="#">LINE Social Plugins</a><span class="bar">|</span>
        <a href="#">LINE Creators Market</a><span class="bar">|</span>
        <a href="#">LINE 로고 사용 가이드</a><span class="bar">|</span>
        <a href="#">LINE 파트너</a><span class="bar">|</span>
        <a href="#">LINE 블로그</a><span class="bar">|</span>
        <a href="#">채용정보</a>
      </p>
    </nav>
    <address>&copy;Designed by 홍길동</address>
  </div>
</footer>
</div>
</body>

</html>